name: Deploy to Windows Server

on:
  push:
    branches:
      - deploy   # Yahan deploy branch ka naam

jobs:
  deploy:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Clean Deploy Folder
        run: |
          Remove-Item -Recurse -Force "D:\Trust Clinic Health App\Mobile Backend\*" -ErrorAction SilentlyContinue
        shell: pwsh

      - name: Publish API
        run: |
          dotnet --info
          dotnet restore "Coherent Mobile\CoherentMobile.Api\Coherent.sln"
          dotnet publish "Coherent Mobile\CoherentMobile.Api\CoherentMobile.Api.csproj" -c Release -o "D:\Trust Clinic Health App\Mobile Backend" --no-restore
        shell: pwsh
